.form {
    margin-top: 42px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 320px;
        height: 48px;
        margin-right: 16px;
        padding: 12px 16px 11px 16px;
        outline: none;
        caret-color: $blue;
        border: none;
        background: #093F68;
        border-radius: 24px;

        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 15px;
        color: $white ;
        mix-blend-mode: normal;

        &::placeholder {
            color: rgba($color: $white, $alpha: .4);
        }
    }
}